/*Gemensamt*/
body {
    margin: 0;
}

#container {
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 83% 17%;
    grid-template-rows: 6rem 2rem 1fr 3rem;
    grid-template-areas:
    'hd hd'
    'nv nv'
    'mn as'
    'ft ft'
}

header {
    grid-area: hd;
    background-color: aqua;
}

nav {
    grid-area: nv;
    background-color: aquamarine;
}

main {
    grid-area: mn;
    background-color: rgb(95, 112, 160);
}

footer {
    grid-area: ft;
    background-color: cyan;
}

.spons {
    grid-area: as;
    background-color: darkgray;
}

.nextmatch {
    grid-area: na;
    background-color: darkcyan;
}

.lastmatch {
    grid-area: la;
    background-color: darkslateblue;
}

.lagetbild {
    grid-area: limg;
    background-color: dodgerblue;
}

/*index.html*/
#indexmain {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 11rem 11rem 1fr;
    grid-template-areas:
    'nse na'
    'nse la'
    'nse limg'
}

#nyhetse {
    grid-area: nse;
    background-color: darkblue;
}

/*kalender.html*/
#kalendermain {
    display: grid;
    grid-template-rows: 5rem 1fr;
    grid-template-areas:
    'ta'
    'ka'
}

#text {
    grid-area: ta;
    background-color: indigo;
}

#kalender {
    grid-area: ka;
    background-color: cornsilk;
    width: 100%;
}

/*laget.html*/
#lagetmain {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 11rem 1fr 1fr 1fr;
    grid-template-areas:
    'na us'
    'limg us'
    'limg ms'
    'limg ts'
}

#seutespel {
    grid-area: us;
    background-color: beige;
}

#semålvakt {
    grid-area: ms;
    background-color: rgb(220, 245, 224);
}

#setränar {
    grid-area: ts;
    background-color: rgb(220, 245, 244);
}

/*serie.html*/
#seriemain {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 5.5rem 5.5rem 11rem 1fr;
    grid-template-areas:
    'na sn'
    'na res'
    'la res'
    '. res'
}

#serienamn {
    grid-area: sn;
    background-color: blue;
}

#resultat {
    grid-area: res;
    background-color: cadetblue;
}

/*index mobil*/

/*kalender mobil*/

/*laget mobil*/

/*serie mobil*/