/*Gemensamt*/
body {
    margin: 0;
}

#container {
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 83% 17%;
    grid-template-rows: 6rem 2rem 1fr 3rem;
    grid-template-areas:
    'hd hd'
    'nv nv'
    'mn as'
    'ft ft'
}

header {
    grid-area: hd;
    background-color: rgb(91, 223, 247);
    display: flex;
    align-items: center;
    font-size: 3rem;
    font-family: 'Roboto Slab', serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: nv;
    background-color: rgb(13, 31, 65);
    font-family: 'Merriweather', serif;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

main {
    grid-area: mn;
    background-color: rgb(91, 223, 247);
}

footer {
    grid-area: ft;
    background-color: rgb(91, 223, 247);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Roboto Condensed', sans-serif;
    padding-right: 8rem;
    padding-left: 8rem;
}

.spons {
    grid-area: as;
    background-color: rgb(91, 223, 247);
}

.nextmatch {
    grid-area: na;
    background-color: darkcyan;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 1rem;
    padding-top: 1.2rem;
}

.lastmatch {
    grid-area: la;
    background-color: darkslateblue;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 1rem;
    padding-top: 0.3rem;
}

.lagetbild {
    grid-area: limg;
    background-color: dodgerblue;
}

/*index.html*/
#indexmain {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 11rem 11rem 1fr;
    grid-template-areas:
    'nse na'
    'nse la'
    'nse limg'
}

#nyhetse {
    grid-area: nse;
    background-color: darkblue;
}

#nyhets_bild {
    width: 100px;
    height: 100px;
}

.fade {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function:
    ease-in;
    animation-duration: 5s;
}

@keyframes fadeInOpacity {
    0%{
        opacity: 0%;
    }
    10%{
        opacity: 100%;
    }
    90%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
    } 
}

/*kalender.html*/
#kalendermain {
    display: grid;
    grid-template-rows: 3.5rem 1fr;
    grid-template-areas:
    'ta'
    'ka'
}

#text {
    grid-area: ta;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin: 0;
    padding-left: 1rem;
    font-family: 'Merriweather', serif;
}

#kalender {
    grid-area: ka;
    font-family: 'Roboto Condensed', sans-serif;
}

.kalcol {
    text-align: center;
    height: 3rem;
    vertical-align: text-top;
}

.kalcol, .kalrad {
    padding-top: 1rem;
}

.kalrad:nth-child(even) {
    background-color: rgb(218, 239, 245);
}

.kalrad:nth-child(odd) {
    background-color: rgb(214, 214, 214);
}

.kalcol:first-child {
    font-weight: bold;
}

.kalrad:first-child {
    font-weight: bold;
}

#nextundantag {
    display: none;
}

#mobilkalender {
    display: none;
    width: 100%;
    background-color: cornsilk;
    grid-area: mk;
}

/*laget.html*/
#lagetmain {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 11rem 1fr 1fr 1fr;
    grid-template-areas:
    'na us'
    'limg us'
    'limg ms'
    'limg ts'
}

#seutespel {
    grid-area: us;
    background-color: beige;
}

#semålvakt {
    grid-area: ms;
    background-color: rgb(220, 245, 224);
}

#setränar {
    grid-area: ts;
    background-color: rgb(220, 245, 244);
}

/*serie.html*/
#seriemain {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 5.5rem 5.5rem 11rem 1fr;
    grid-template-areas:
    'na sn'
    'na res'
    'la res'
    '. res'
}

#serienamn {
    grid-area: sn;
    font-size: 1.8rem;
    padding-left: 1.5rem;
    font-family: 'Merriweather', serif;
    display: flex;
    align-items: center;
}

#resultat {
    grid-area: res;
    font-family: 'Roboto Condensed', sans-serif;
}

.sercol {
    text-align: center;
    height: 3rem;
    width: auto;
    vertical-align: middle;
}

.sercol, .serrad {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.serrad:nth-child(even) {
    background-color: rgb(218, 239, 245);
}

.serrad:nth-child(odd) {
    background-color: rgb(214, 214, 214);
}

.sercol:first-child {
    font-weight: bold;
}

.serrad:first-child {
    font-weight: bold;
}

/*index mobil*/
@media screen and (max-width: 500px) {
    #indexmain {
        width: 100vw;
        grid-template-rows: 8rem 10fr 10rem 9fr;
        grid-template-columns: 100%;
        grid-template-areas:
        'na'
        'nse'
        'la'
        'limg'
    }
    .spons {
        display: none;
    }
}

/*kalender mobil*/
@media screen and (max-width: 500px) {
    #kalendermain {
        width: 100vw;
        grid-template-rows: 8rem 1fr;
        grid-template-columns: 100%;
        grid-template-areas:
        'na'
        'mk'
    }
    .spons {
        display: none;
    }
    #text {
        display: none;
    }
    #nextundantag {
        display: block;
    }
    #kalender {
        display: none;
    }
    #mobilkalender {
        display: block;
    }
}

/*laget mobil*/
@media screen and (max-width: 500px) {
    #lagetmain {
        width: 100vw;
        grid-template-rows: 8rem 1fr 1fr 1fr 1fr;
        grid-template-columns: 100%;
        grid-template-areas:
        'na'
        'limg'
        'us'
        'ms'
        'ts'
    }
    .spons {
        display: none;
    }
}

/*serie mobil*/
@media screen and (max-width: 500px) {
    #seriemain {
        width: 100vw;
        grid-template-rows: 8rem 1fr 1fr;
        grid-template-columns: 100%;
        grid-template-areas:
        'na'
        'sn'
        'res'
    }
    .spons {
        display: none;
    }
    .lastmatch {
        display: none;
    }
}